<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yc.com.androidreview">

    <permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DbNoUseHelper" />
        <activity
            android:launchMode="singleTask"
            android:name=".ServiceTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="myaa"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyService" />

        <provider
            android:name="yc.com.contentp.MyContentProvider"
            android:authorities="com.wissen.MyContentProvider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity" />
        <activity
            android:exported="true"
            android:launchMode="singleInstance"
            android:name="yc.com.launchmode.Bb">
            <intent-filter>
                <action android:name="mybb"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
